h1 {
text-align: center;
}
.important {
  color: red;
  font-weight: bold;
}
.highlight {
  font-style: italic;
}
.img {
  float: left;
}
body {
  background-color: skyblue


}
.codingphoto {
  width: 500px;
  height: 300px;
  text-align: center;

}.jameslepic {
  width: 500px
  height: 300px;
  text-align: center;
}
.column {
  width: 300px
  float: left;
}
.my-class {
  border: 10px solid White;
  padding: 4px;
}
h2 {
  text-align: center;
}
h2 p {
  text-align: center;
}
.hobbies {
  text-align: center;
  font-weight: bold;
  font-size: 20px

}
.aboutme {
  text-align: center;
}
#currenthobbies {
  text-underline-position: below;

}
